@keyframes ballMoveLose {
  0% {
    transform: rotate(0deg);
    bottom: 24vh;
    left: 6vw;
  }

  5% {
    transform: rotate(26deg);
    left: -2vw;
  }

  15% {
    transform: rotate(36deg);
    left: -2vw;
  }

  50% {
    transform: rotate(0deg);
    bottom: 43vh;
    left: 3.7vw;
  }

  70% {
    transform: rotate(0deg);
    left: 5.3vw;
    bottom: 33vh;
  }

  100% {
    transform: rotate(0deg);
    left: 6vw;
    bottom: 30;
  }
}

@keyframes ballMoveHit {
  0% {
    transform: rotate(0deg);
    bottom: 24vh;
    left: 6vw;
  }

  5% {
    transform: rotate(26deg);
    left: -2vw;
  }

  15% {
    transform: rotate(36deg);
    left: -2vw;
  }

  50% {
    transform: rotate(0deg);
    bottom: 43vh;
    left: 3.7vw;
  }

  70% {
    transform: rotate(0deg);
    left: 5.3vw;
    bottom: 33vh;
  }

  90% {
    transform: rotate(0deg);
    left: 16.7vw;
    bottom: 240px;
  }

  100% {
    transform: rotate(0deg);
    left: 16.7vw;
    bottom: 234px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 6rem;
  /* background: red; */
  height: 100vh;
  width: 100vw;
}

.test {
  position: absolute;
  z-index: 0;
  width: 390px;
  top: 30px;
  right: 60px;
}

.number {
  position: absolute;
  z-index: 30;
}

.video {
  position: relative;
}

.ballSupportLose {
  width: 50vw;
  height: 30px;
  /* right: -20vw; */
  /* top: 70vh; */

  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* background: red; */
  animation: ballMoveLose 3s linear;
}

.ballSupportHit {
  width: 50vw;
  height: 30px;
  /* right: -20vw; */
  /* top: 70vh; */

  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* background: red; */
  animation: ballMoveHit 3s linear infinite;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  /* background: linear-gradient(
    45deg,
    #757575 0%,
    #9e9e9e 45%,
    #e8e8e8 70%,
    #9e9e9e 85%,
    #757575 90% 100%
  ); */
}
